@media (max-width: 1176px) {
  .card {
    max-width: 160px;
  }
  .card__text{
    -webkit-line-clamp: 7;
  }
}

@media (max-width: 992px) {
  .slider__items {
    height: 35px;
  }
  .slider__item-text {
    display: none;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 50%;
  }
}

@media (max-width: 480) {}
