@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.main {
  &__inner {
    display: flex;
  }
  &__content{}
}
.aside {
  &__logo {
    display: block;
    margin-bottom: 10px;
  }
  &__inner {
    width: 140px;
    margin-right: 44px;
  }
}

.logo {
}

.nav {
  &__list {
  }
  &__list-item {

  }
  &__list-link {
    display: flex;
    margin-bottom: 30px;
  }
  &__list-icon {
    max-width: 30px;
    margin-right: 12px;
  }
  &__list-text {
    display: flex;
    align-items: center;
    font-style: italic;
    line-height: 14px;
    color: #34ACA7;
  }
}
.info {
  &__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px dashed #E5E5E5;
    margin-bottom: 10px;
  }
  &__btn {
    display: flex;
    padding: 7px 13px 7px 7px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  &__btn-icon {
    margin-right: 5px;
    display: flex;
  }
  &__btn-text {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 10px;
    line-height: 12px;
    color: #34ACA7;
  }
  &__text {
    font-size: 10px;
    line-height: 19px;
    margin-bottom: 15px;
    font-style: italic;
  }
}
.banner {
}


.subscribe {
  &__inner {
    display: flex;
    padding: 8px 0 10px;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__content-icon {
    margin: 0 18px 0 14px;
    display: flex;
    align-items: center;
  }
  &__content-text {
    font-style: italic;
    line-height: 16px;
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__form-input {
    max-width: 160px;
    border: 1px solid #E5E5E5;
    padding: 6px;
    font-size: 10px;
    line-height: 10px;
  }
  &__form-input::placeholder{
    color: #E5E5E5;
  }
  &__form-btn {
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    font-size: 10px;
    line-height: 10px;
    padding: 6px 17px;
    margin: 0 18px;
    

  }
}
.blog {
  &__inner {
    display: flex;
  }
}
.card {
  &__img-link {}
  &__img {}
  &__title-link {}
  &__title {
    
  }
  &__text {}
  &__links {
    display: flex;
  }
  &__date {}
  &__read {}
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 35px;
    border-top: 2px solid #E5E5E5;
  }
  &__content {
    
  }
  &__list {
    display: flex;
  }
  &__list-item {}
  &__list-link {
    letter-spacing: -0.02em;
    font-size: 12px;
    line-height: 12px;
    color: #34ACA7;
  }
  &__copyright {
    letter-spacing: -0.02em;
    font-size: 12px;
    line-height: 12px;
    color: #E5E5E5;
  }
  &__social {
    display: flex;
  }
  &__social-item {}
  &__social-img {}
}

